{% extends 'base.html.twig' %}

{%  block body %}
    {% if app.user %}
    <h1>Hello {{ app.user.pseudo }}!</h1>
        {% else %}
        <h1>Hello you need to login to see and add wishes</h1>
    {% endif %}
{% endblock %}

{% block title %} Homepage {% endblock %}
